@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #F5F1EE;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Roboto', sans-serif
}

*, ::after, ::before {
    box-sizing: border-box;
}

.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.text-center {
    text-align: center!important;
}
.m-3 {
    margin: 1rem!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}
.pr-0, .px-0 {
    padding-right: 0!important;
}
.pt-0, .py-0 {
    padding-top: 0!important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.text-muted {
    color: #6c757d!important;
}
.mt-1, .my-1 {
    margin-top: .25rem!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.h6, h6 {
    font-size: 1rem;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.mid {
    background: #ECEDF1;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.p-3 {
    padding: 1rem!important;
}
.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.text-right {
    text-align: right!important;
}
.ml-1, .mx-1 {
    margin-left: .25rem!important;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}

.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #FFCBD2;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
}

/* custom */

.card {
    width: 250px;
    border-radius: 10px
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

span.text-muted {
    font-size: 12px
}

small.text-muted {
    font-size: 8px
}

h5.mb-0 {
    font-size: 1rem
}

small.ghj {
    font-size: 9px
}

.mid {
    background: #ECEDF1
}

h6.ml-1 {
    font-size: 13px
}

small.key {
    text-decoration: underline;
    font-size: 9px;
    cursor: pointer
}

.btn-danger {
    color: #FFCBD2
}

.btn-danger:focus {
    box-shadow: none
}

small.justify-content-center {
    font-size: 9px;
    cursor: pointer;
    text-decoration: underline
}

@media screen and (max-width:600px) {
    .col-sm-4 {
        margin-bottom: 50px
    }
}
